.soulblog-content {
  overflow-wrap: break-word;
  text-autospace: normal;
  text-autospace: normal replace;
}
.soulblog-content img { max-width: 100%; }
.soulblog-content pre {
  padding: 1rem;
  font-size: inherit;
  border-radius: 0.25rem;
  background-color: var(--bs-tertiary-bg);
  border: 1px solid var(--bs-border-color);
  white-space: pre;
  overflow: auto;
  max-height: 65vh;
  scrollbar-width: thin;
}
.soulblog-content code:not(pre>code) {
  font-size: inherit;
  border-radius: 0.25rem;
  background-color: var(--bs-tertiary-bg);
  padding: 2px;
}
.soulblog-content blockquote {
  border-left: 0.25em solid var(--bs-border-color);
  padding-left: 1.75em;
}
.soulblog-content hr {
  height: 0.25em;
  border: none;
  background-color: var(--bs-border-color);
  opacity: 1;
}
.soulblog-content>h1,
.soulblog-content>h2 {
  border-bottom: 1px solid var(--bs-border-color);
}

/** Programming ligatures look terrible in brainfuck code, disable them */
.soulblog-content .highlighter-rouge.language-brainfuck {
  font-variant-ligatures: none;
}

/** Programming ligatures look terrible in brainfuck code, disable them */
.soulblog-content pre:lang(lzh-Hant),
.soulblog-content code:lang(lzh-Hant),
.soulblog-content kbd:lang(lzh-Hant),
.soulblog-content samp:lang(lzh-Hant) {
  font-family: "Sarasa Mono CL", var(--bs-font-monospace);
}

/** Markdown TOC */
#markdown-toc a {
  text-decoration: none;
  color: var(--bs-emphasis-color);
}
#markdown-toc a:hover {
  color: rgba(var(--bs-emphasis-color-rgb), 0.75);
}

/** Simplified version of "Treeview" from https://minecraft.wiki/w/?oldid=1719575#L-233 */
ul.treeview {
  padding: 0;
}
.treeview ul,
.treeview li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.treeview li li {
  position: relative;
  padding-left: 13px;
  margin-left: 7px;
  border-left: 1px solid var(--bs-tertiary-color);
}
.treeview li li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  width: 11px;
  height: 11px;
  border-bottom: 1px solid var(--bs-tertiary-color);
}
.treeview li li:last-child {
  border-color: transparent;
}
.treeview li li:last-child::before {
  border-left: 1px solid var(--bs-tertiary-color);
  width: 10px;
}
/** End of "Treeview" */

/** Code fonts */
@font-face {
  font-family: Uiua386;
  src: url(../assets/uiua386/Uiua386.woff2);
}
.language-uiua, .language-uiua code {
  font: 18px / 1.15 Uiua386, var(--bs-font-monospace) !important;
  font-synthesis: none;
}

@font-face {
  font-family: Whatch;
  src: url(../assets/whatch/Whatch-Regular.woff2);
}
.language-whatlang, .language-whatlang code,
.language-what, .language-what code {
  font: 18px / 1.15 Whatch, var(--bs-font-monospace) !important;
}
