/* List of tokens: https://github.com/rouge-ruby/rouge/wiki/List-of-tokens */

:root, [data-bs-theme=light] {
  --bs-lnn-highlight-base: #555555;
  --bs-lnn-highlight-name: #333333;
  --bs-lnn-highlight-dim: #b3b3b3;
  --bs-lnn-highlight-deleted: #d40000;
  --bs-lnn-highlight-inserted: #006e18;
}
[data-bs-theme=dark] {
  --bs-lnn-highlight-base: #999999;
  --bs-lnn-highlight-name: #bbbbbb;
  --bs-lnn-highlight-dim: #676767;
  --bs-lnn-highlight-deleted: #ff5342;
  --bs-lnn-highlight-inserted: #5db661;
}

/* Base Style */
.highlight, pre {
  color: var(--bs-lnn-highlight-base);
}
/* Punctuation */
.highlight .p {
  color: #888888;
}
/* Error */
.highlight .err {
  color: #c73232;
}
/* Base Style */
.highlight .n {
  color: var(--bs-lnn-highlight-name);
}
/* Name Attribute */
.highlight .na {
  color: #af248e;
}
/* Name Builtin */
.highlight .nb {
  color: #82b727;
}
/* Name Class */
.highlight .nc {
  color: var(--bs-lnn-highlight-name);
  font-style: italic;
}
/* Name Constant */
.highlight .no {
  color: #1ca0ff;
}
/* Name Decorator */
.highlight .nd {
  color: var(--bs-lnn-highlight-name);
  font-style: italic;
}
/* Name Entity */
.highlight .ni {
  color: #1ca0ff;
}
/* Name Exception */
.highlight .ne {
  color: var(--bs-lnn-highlight-name);
}
/* Name Function */
.highlight .nf {
  color: var(--bs-body-color);
}
/* Name Label */
.highlight .nl {
  color: var(--bs-lnn-highlight-name);
}
/* Name Namespace */
.highlight .nn {
  color: var(--bs-lnn-highlight-name);
  text-decoration: underline;
}
/* Name Other */
.highlight .nx {
  color: var(--bs-lnn-highlight-name);
}
/* Name Property */
.highlight .py {
  color: var(--bs-lnn-highlight-name);
}
/* Name Tag */
.highlight .nt {
  color: #82b727;
}
/* Name Variable */
.highlight .nv {
  color: var(--bs-lnn-highlight-name);
}
/* Name Variable Class */
.highlight .vc {
  color: var(--bs-lnn-highlight-name);
}
/* Name Variable Global */
.highlight .vg {
  color: var(--bs-lnn-highlight-name);
}
/* Name Variable Instance */
.highlight .vi {
  color: var(--bs-lnn-highlight-name);
}
/* Name Builtin Pseudo */
.highlight .bp {
  color: #1ca0ff;
}
/* Base Style */
.highlight .g {
  color: var(--bs-lnn-highlight-base);
}
/* Generic Deleted */
.highlight .gd {
  color: #be261e;
}
/* Generic Inserted */
.hihlight .gi {
  color: #8cb326;
}
/* Base Style */
.highlight .o {
  color: #a5b800;
  font-weight: bold;
}
/* Operator Word */
.highlight .ow {
  color: #a5b800;
}
/* Base Style */
.highlight .c {
  color: var(--bs-lnn-highlight-dim);
}
/* Comment Multiline */
.highlight .cm {
  color: var(--bs-lnn-highlight-dim);
}
/* Comment Preproc */
.highlight .cp {
  color: var(--bs-lnn-highlight-base);
  font-weight: bold;
}
/* Comment Single */
.highlight .c1 {
  color: var(--bs-lnn-highlight-dim);
}
/* Comment Special */
.highlight .cs {
  color: #33bfab;
  font-style: italic;
}
/* Base Style */
.highlight .k {
  color: #33bfab;
  font-weight: bold;
}
/* Keyword Constant */
.highlight .kc {
  color: #1ca0ff;
  font-weight: bold;
}
/* Keyword Declaration */
.highlight .kd {
  color: #00c552;
  font-weight: bold;
}
/* Keyword Namespace */
.highlight .kn {
  color: #33bfab;
  font-weight: bold;
}
/* Keyword Pseudo */
.highlight .kp {
  color: #33bfab;
}
/* Keyword Reserved */
.highlight .kr {
  color: #33bfab;
  font-weight: bold;
}
/* Keyword Type */
.highlight .kt {
  color: #33bfab;
  font-weight: bold;
  font-style: italic;
}
/* Base Style */
.highlight .l {
  color: #1ca0ff;
}
/* Literal Date */
.highlight .ld {
  color: #1ca0ff;
}
/* Literal Number */
.highlight .m {
  color: #1ca0ff;
}
/* Literal Number Float */
.highlight .mf {
  color: #1ca0ff;
}
/* Literal Number Hex */
.highlight .mh {
  color: #1ca0ff;
}
/* Literal Number Integer */
.highlight .mi {
  color: #1ca0ff;
}
/* Literal Number Oct */
.highlight .mo {
  color: #1ca0ff;
}
/* Literal Number Integer Long */
.highlight .il {
  color: #1ca0ff;
}
/* Literal String */
.highlight .s {
  color: #ff8826;
}
/* Literal String Backtick */
.highlight .sb {
  color: #ff8826;
}
/* Literal String Char */
.highlight .sc {
  color: #1ca0ff;
}
/* Literal String Doc */
.highlight .sd {
  color: #ff8826;
}
/* Literal String Double */
.highlight .s2 {
  color: #ff8826;
}
/* Literal String Escape */
.highlight .se {
  color: #1ca0ff;
}
/* Literal String Heredoc */
.highlight .sh {
  color: #ff8826;
}
/* Literal String Interpol */
.highlight .si {
  color: var(--bs-lnn-highlight-base);
}
/* Literal String Other */
.highlight .sx {
  color: #ff8826;
}
/* Literal String Regex */
.highlight .sr {
  color: #ff8826;
}
/* Literal String Single */
.highlight .s1 {
  color: #ff8826;
}
/* Literal String Symbol */
.highlight .ss {
  color: #af248e;
}
/* ? */
.highlight .dl {
  color: #ff8826;
}
/* Base Style */
.highlight .g {
  color: var(--bs-lnn-highlight-base);
}
/* Generic Deleted */
.highlight .gd {
  color: var(--bs-lnn-highlight-deleted);
}
/* Generic Emph */
.highlight .ge {
  color: var(--bs-lnn-highlight-base);
  font-style: italic;
}
/* Generic Error */
.highlight .gr {
  color: #d40000;
}
/* Generic Heading */
.highlight .gh {
  color: var(--bs-body-color);
  font-weight: bold;
}
/* Generic Inserted */
.highlight .gi {
  color: var(--bs-lnn-highlight-inserted);
}
/* Generic Output */
.highlight .go {
  color: var(--bs-lnn-highlight-base);
}
/* Generic Prompt */
.highlight .gp {
  color: var(--bs-lnn-highlight-base);
}
/* Generic Strong */
.highlight .gs {
  color: var(--bs-lnn-highlight-base);
  font-weight: bold;
}
/* Generic Subheading */
.highlight .gu {
  color: var(--bs-body-color);
  font-weight: bold;
}
/* Generic Traceback */
.highlight .gt {
  color: var(--bs-lnn-highlight-base);
}
/* Other */
.highlight .x {
  color: var(--bs-lnn-highlight-base);
}
/* Text Whitespace */
.highlight .w {
}
