---
layout: default
title: LNN's Diary
oulblog-head: |
    <script defer crossorigin=anonymous
      src="https://cdn.jsdelivr.net/npm/style-scoped@0.2.2/scoped.min.js"
    ></script>
---

<p lang=en-Qaac class=text-muted>              ．<!--
-->    ．   ，       <!--
-->，​“”！！（</p>

<hr>

<h1><span lang=en-Qaac>＇ </span><span style="font-size:0.7em">(?)</span><br />
<span lang="en" style="opacity: 0.5;"><span class="caps">LNN</span>&#8217;s Diary</span></h1>

<h2 style="opacity: 0.5;">（凡例）</h2>

<p lang=en-Qaac>        ，＇     ：</p>

<table lang=und-Qaac class=table>
    <tr>
      <td>     </td>
      <td>     </td>
    </tr>
    <tr>
      <td>      </td>
      <td>      </td>
    </tr>
    <tr>
      <td>     </td>
      <td>      </td>
    </tr>
</table>

<p lang=en-Qaac> ：</p>

<div class=table-responsive>
<table lang=und-Qaac class=table>
    <tr>
      <th></th>
      <th scope=col> </th>
      <th scope=col> </th>
      <th scope=col> </th>
      <th scope=col> </th>
      <th scope=col> </th>
      <th scope=col> </th>
      <th scope=col> </th>
      <th scope=col> </th>
      <th scope=col> </th>
      <th scope=col> </th>
      <th scope=col> </th>
      <th scope=col> </th>
    </tr>
    <tr>
      <th scope=row>  </td>
      <td>   </td>
      <td>     </td>
      <td>   </td>
      <td>     </td>
      <td>     </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
    </tr>
    <tr>
      <th scope=row>  </td>
      <td>   </td>
      <td>   </td>
      <td>     </td>
      <td>   </td>
      <td>   </td>
      <td>     </td>
      <td>     </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>   </td>
      <td>      </td>
    </tr>
    <tr>
      <th scope=row>  </td>
      <td>     </td>
      <td>     </td>
      <td>   </td>
      <td>     </td>
      <td>     </td>
      <td>     </td>
      <td>     </td>
      <td>   </td>
      <td>   </td>
      <td>      </td>
      <td>      </td>
      <td>      </td>
    </tr>
</table>
</div>

<p lang=en-Qaac>   ＇ <u></u> ， <u> </u>   ：</p>

<p lang=cmn-Qaac style="text-align:center;"><strong></strong><br />
<span lang=en-Qaac style="font-size:0.7em;">（ ）</span></p>

<p lang=cmn-Qaac style="text-align:center;"><strong></strong><br />
<span lang=en-Qaac style="font-size:0.7em;">（ ）</span></p>

<p lang=en-Qaac> ​“ㄝ”，“”​​“”．</p>

<h2 style="opacity: 0.5;">（正文）</h2>

{% assign categories = "lnnsdiary" | split: " " -%}
{% assign entries = site.diary_entries | where: "category", categories -%}
{% for entry in entries -%}
<article class="mb-5"
  {%- if entry.lang %} lang="{{ entry.lang }}" {%- endif -%}
>
  {% if entry.soulblog-style -%}
  {{ entry.soulblog-style
  | prepend: "style scoped>"
  | prepend: "<"
  | append: "</"
  | append: "style>"
  }}
  {%- endif %}

  <div class="text-muted text-end">{{ entry.date | date: "%Y-%m-%d" }}</div>

  {{ entry.content }}
</article>
{% endfor -%}
