---
title: Project 记录表
layout: default
soulblog-style: |
    .project-namespace {
        margin: 2em 0 1em;
    }
    .project {
        margin: 1rem 8px;
        overflow: visible;
    }
    .project-link {
        float: right;
        padding: 3px 0;
    }
    .project-news-label {
        text-align: center;
    }
    .project-news-list {
        max-height: 350px;
        overflow-y: auto;
    }
soulblog-script-before: |
    Vue.component('project-popover', {
        props: ["id"],
        template: `
            <div class="project-news-label">
                <b-link :id="id + '__button'">
                    <b-icon icon="app-indicator" aria-hidden="true"></b-icon>
                    NEWS
                </b-link>
                <b-popover
                :target="id + '__button'"
                :triggers="['hover', 'focus']"
                class="project-news-popover"
                ><slot/></b-popover>
            </div>
        `
    });
---

<h1>Project 记录表</h1>

<figure>
    <figcaption>项目状态含义表</figcaption>
    <table>
        <thead>
            <tr><th>状态                       <th>含义    <th>解释
        <tbody>
            <tr><td><code>not_started</code>   <td>未启动   <td>项目处于规划阶段，尚未开始实施
            <tr><td><code>ongoing</code>       <td>进行中   <td>项目会不定期地有进展
            <tr><td><code>prioritized</code>   <td>优先进行 <td>项目会优先进行
            <tr><td><code>almost_paused</code> <td>近乎暂停 <td>各种原因导致项目偶尔才会有进展
            <tr><td><code>paused</code>        <td>已暂停   <td>各种原因导致项目暂时不会有进展
            <tr><td><code>may_cancel</code>    <td>可能弃坑 <td>由于近期失去兴趣，项目可能会弃坑
            <tr><td><code>canceled</code>      <td>已弃坑   <td>项目已弃坑
            <tr><td><code>done</code>          <td>已完成   <td>项目已完工
    </table>
</figure>

{% for namespace in site.data.projects -%}
<h2 class="project-namespace">
    {% if namespace.id -%}
    <code>{{ namespace.id }}</code> -
    {%- endif %}
    {% if namespace.url -%}
    <a href="{{ namespace.url | escape }}">{{ namespace.desc }}</a>
    {%- else -%}
    {{ namespace.desc }}
    {%- endif %}
</h2>

<b-card-group deck class="project-group">
    {% for project in namespace.projs -%}
    <b-card class="project">
        <div slot="header" class="clearfix">
            <span>
                <code>{{ project.id }}</code>
            </span>
            {% if project.url -%}
            <b-link
            class="project-link"
            target=_blank
            href="{{ project.url | escape }}"
            >进入</b-link>
            {%- endif %}
        </div>

        <div>{{ project.desc }}</div>

        {% assign status = "not_started" -%}
        {%- assign phase = 1 -%}
        {%- assign progress = 0 -%}
        {%- for news in project.news -%}
            {%- if news.status -%}
                {%- assign status = news.status -%}
            {%- endif -%}
            {%- if news.phase -%}
                {%- assign phase = news.phase -%}
            {%- endif -%}
            {%- if news.progress -%}
                {%- assign progress = news.progress -%}
            {%- endif -%}
        {%- endfor -%}

        {% if phase != 1 -%}
        <div>
            <strong>{{ phase }} 期工程</strong>
        </div>
        {%- endif %}

        <div>
            <strong>当前状态：</strong><code>{{ status }}</code>
        </div>

        <div>
            <span>
                <strong>当前进度：</strong>
                <meter max=100 value="{{ progress }}"></meter>
                {{ progress }}%
            </span>
        </div>

        {% if project.news -%}
        
        <template #footer>
            <project-popover id="project-news_{{ namespace.id | append: '.' | default: '' }}{{ project.id }}">
                <ul class="project-news-list">
                    {% for news in project.news reversed -%}
                    <li>
                        {{ news.date | default: "（未知日期）" }}

                        {% if news.phase -%}
                        <div>
                            <strong>进入 {{ news.phase }} 期工程</strong>
                        </div>
                        {%- endif -%}

                        {% if news.status -%}
                        <div>
                            <strong>状态：</strong>
                            <code>{{ news.status }}</code>
                        </div>
                        {%- endif -%}

                        {% if news.progress -%}
                        <div>
                            <strong>进度：</strong>
                            <meter max=100 value="{{ news.progress }}"></meter>
                            {{ news.progress }}%
                        </div>
                        {%- endif -%}

                        {%- if news.content -%}
                        <div>
                            {{ news.content | markdownify }}
                        </div>
                        {%- endif -%}
                    </li>
                    {% endfor %}
                </ul>
            </project-popover>
        </template>
        {%- endif %}
    </b-card>
    {% endfor %}
</b-card-group>
{% endfor %}
