<!doctype html>
<html lang=cmn-Hans>
<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name=format-detection content="telephone=no">
  <link rel=stylesheet href="/bootstrap-lnn/dist/bootstrap-lnn.min.css">
  <link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" crossorigin=anonymous>
  <link rel=stylesheet href="/blog/css/common.css">
  <link rel=stylesheet href="/blog/css/rouge-syntax.css">
  {% if content contains '<span class="katex">' -%}
  {% comment %} 'site.katex_version' is provided by _plugins/katex_version.rb {% endcomment -%}
  <link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/{{ site.katex_version }}/katex.min.css">
  {%- endif %}
  <link rel=icon href="/site_icon.png">
  <link rel="shortcut icon" href="/site_icon.png">
  <link rel=apple-touch-icon href="/site_icon.png" sizes="160x160">
  {% if page.soulblog-no-seo -%}
  <title>{{ page.title | escape }} | {{ site.title | escape }}</title>
  {% else -%}
  {% seo %}
  {% endif -%}
  {% if page.soulblog-style -%}
  {{- page.soulblog-style
    | prepend: "style>"
    | prepend: "<"
    | append: "</"
    | append: "style>"
  -}}
  {%- endif %}
  <script defer crossorigin=anonymous
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"
  ></script>
  <script defer src="/blog/js/common.js"></script>
  {{ page.soulblog-head }}
</head>

<body>
  <div class="visually-hidden-focusable position-absolute top-0 start-0 p-1 bg-light">
    <a href="#main">跳至正文</a>
  </div>

  <header class="d-flex justify-content-center py-3 mb-4 border-bottom shadow-sm bg-light">
    <span>LNN的博客！</span>
  </header>

  <div id="mainwrap">
    {%- unless page.soulblog-no-breadcrumb %}
    <nav id=nav>
      <ol class="breadcrumb bg-light rounded p-3">
        <li class="breadcrumb-item"><a href="/blog">LNN的博客！</a></li>
        {%- for item in page.soulblog-breadcrumb %}
        <li class="breadcrumb-item"><a href="{{ item.href | escape }}">{{ item.text }}</a></li>
        {%- endfor %}
        <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
      </ol>
    </nav>
    {%- endunless %}

    {%- comment %}
    <div class="alert alert-warning">
      本博客正在施工中，内容可能会无法正常显示！
    </div>
    {%- endcomment %}

    <main id=main>
{{ content }}
    </main>
  </div>

  <footer class="mt-4 px-2 py-4 bg-light border-top">
    <div id=footer class="mx-auto">
      <div class="mb-2 d-flex gap-2 justify-content-between align-items-center flex-wrap">
        <div>
          <a class="d-block"
            href="https://github.com/DGCK81LNN/blog/blob/main/{{ page.path | escape }}?plain=1">
            <img class="d-block" alt="在GitHub上查看源代码"
              src="https://img.shields.io/badge/-在GitHub上查看源代码-222222?logo=github" />
          </a>
        </div>
        <div class="d-flex gap-2 align-items-center flex-wrap">
          {%- unless page.soulblog-no-not-by-ai %}
          {%- assign not_by_ai_verb = page.soulblog-not-by-ai-verb | default: "written" %}
          <a class="d-block" href="https://notbyai.fyi" lang="en">
            <img class="d-block" alt="{{ not_by_ai_verb }} by human, not by AI"
              src="{% link assets/{{ not_by_ai_verb | capitalize }}-By-Human-Not-By-AI-Badge-white.svg %}"/>
          </a>
          {%- endunless %}
          {%- unless page.soulblog-license %}
          <a class="d-block" href="https://creativecommons.org/licenses/by-sa/4.0/deed.zh-hans">
            <img class="d-block" alt="CC BY-SA"
              src="{% link assets/by-sa.svg %}"/>
          </a>
          {%- endunless %}
        </div>
      </div>
      <div class="text-secondary mb-2">
        {% if page.soulblog-license -%}
        {{ page.soulblog-license | markdownify }}
        {%- else -%}
        <p>本站图文内容除另有声明外，均在<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.zh-hans"
          >知识共享 署名-相同方式共享 4.0 国际（CC BY-SA 4.0）许可协议</a
          >下发布。</p>
        {%- endif %}
      </div>
      <div class="d-flex flex-wrap mb-0">
        <a href="/">灵魂小站首页</a>
        <span class="mx-2 vr"></span>
        <a rel=nofollow href="https://github.com/DGCK81LNN/">我的 GitHub</a>
        <span class="mx-2 vr"></span>
        <span>QQ: 3470524928</span>
      </div>
    </div>
  </footer>
</body>
</html>
<!------------------------------------------------------------------------------
  page:
    path: {{ page.path | jsonify }}
    dir: {{ page.dir | jsonify }}
    name: {{ page.name | jsonify }}
    url: {{ page.url | jsonify }}
    collection: {{ page.collection | jsonify }}
    layout: {{ page.layout | jsonify }}
------------------------------------------------------------------------------->
