<!doctype html>
<html lang=cmn-Hans>
<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name=format-detection content="telephone=no">
  <link rel=stylesheet href="https://dgck81lnn.github.io/bootstrap-lnn/dist/bootstrap-lnn.min.css">
  <link rel=stylesheet href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
  <link rel=stylesheet href="/blog/css/common.css">
  <link rel=stylesheet href="/blog/css/rouge-syntax.css">
  <link rel=icon href="/site_icon.png">
  <link rel="shortcut icon" href="/site_icon.png">
  <link rel=apple-touch-icon href="/site_icon.png" sizes="160x160">
  {% seo %}
  {% if page.soulblog-style -%}
  {{- page.soulblog-style
    | prepend: "style>"
    | prepend: "<"
    | append: "</"
    | append: "style>"
  -}}
  {%- endif %}
</head>

<body>
  <div class="visually-hidden-focusable position-absolute top-0 start-0 p-1 bg-light">
    <a href="#main">跳至正文</a>
  </div>

  <header class="d-flex justify-content-center py-3 mb-4 border-bottom shadow-sm bg-light">
    <span>LNNの博客！</span>
  </header>

  {%- if page.path != "index.html" %}
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/blog">LNN的博客！</a></li>
      {%- for item in page.soulblog-breadcrumb %}
      <li class="breadcrumb-item"><a href="{{ item.href | escape }}">{{ item.text }}</a></li>
      {%- endfor %}
      <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
    </ol>
  </nav>
  {%- endif %}

  <div class="alert alert-warning">
    本博客正在施工中，内容可能会无法正常显示！
  </div>

  <main id=main>
    <div class="soulblog-content">{{ content }}</div>
    {%- if page.collection == "posts" %}
    <footer class="soul-p2">
      <p>
        {%- unless page.soulblog-no-attribution %}<span itemprop=author>DGCK81LNN</span> &middot;{% endunless %}
        <time itemprop=datePublished>{{ page.date | date: "%Y-%m-%d" }}</time>
      </p>
    </footer>
    {%- endif %}
  </main>

  <footer class="mt-4 px-2 py-4 bg-light border-top">
    <div class="mx-auto" style="max-width: 768px">
      <a href="/">灵魂小站首页</a> |
      <a rel=nofollow href="https://github.com/DGCK81LNN/">GitHub</a> |
      <span>QQ: 3470524928</span>
    </div>
  </footer>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin=anonymous
  ></script>
</body>
</html>
