---
layout: default
---

<style>
.read-all { display: block; text-align: center; }
</style>

<h1>{{ page.tag_name }}</h1>

{{ content }}

<h2>文章列表</h2>

<div class="row g-2 row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4">
  {%- for post in page.posts %}{%- if post.categories.size == 0 %}
  {%- assign excerptlang = post.soulblog-excerpt-lang %}
  {%- assign mdate = post.last_modified_at | date: "%Y-%m-%d" %}
  {%- assign cdate = post.date | date: "%Y-%m-%d" %}
  <div class="col">
    <article class="card h-100">
      <header class="card-header">
        <time>{{ cdate }}</time>
        {%- for tag in post.tags %}
        {%- assign tagdef = site.data.tags | find: 'name', tag %}
        <a href="{{ site.baseurl }}/tags/{{ tagdef.slug }}" class="text-decoration-none">
          <span class="badge bg-{{ tagdef.color | default: 'secondary' }}">{{ tag }}</span>
        </a>
        {%- endfor %}
      </header>
      <div class="card-body"
        {%- if post.lang %} lang="{{ post.lang }}" {%- endif -%}
      >
        {%- if excerptlang == "textile" %}
        {{ post.excerpt | textilize }}
        {%- elsif excerptlang == "md" %}
        {{ post.excerpt | markdownify }}
        {%- else %}
        {{ post.excerpt }}
        {%- endif %}
        {%- if mdate and mdate != cdate %}
        <p class="text-body-tertiary mb-0"><i>……{{ mdate }} 更新……</i></p>
        {%- endif %}
      </div>
      <div class="card-footer position-relative">
        <a href="{{ post.url | relative_url }}" class="text-decoration-none link-info stretched-link read-all">
          阅读全文
          <i class=bi-arrow-right aria-hidden></i>
        </a>
      </div>
    </article>
  </div>
  {%- endif %}{%- endfor %}
</div>
